<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/web_header.html">
</head>
<body>
<div id="rrapp" v-cloak style="width:600px">
	<div class="main-content">
		<div class="box box-main">
			<div class="box-body">
				<form class="form-inline"  id="saveForm" action="#" method="post">
				<table>
					<tr>
					<td>
						<table class='table table-bordered'>
									<tr style="background-color: #eee">
										<th>序号</th>
										<th>产品代码</th>
										<th>产品名称</th>
										<th>安装节点编码</th>
										<th>安装节点名称</th>
										
									</tr>
									<tr v-for="(product,index) in productarray" :key="product.id">
										<td>
										{{index+1}}
										</td>
										<td>
										<!--<input type="text"  class="form-control" :value="product.product_code"/>-->
										{{product.product_code}}
										</td>
										<td>
										<!--<input type="text"  class="form-control" :value="product.product_name"/>-->
										{{product.product_name}}
										</td>
										<td>
										{{product.process_code}}
										</td>
										<td >
										{{product.process_name}}
										</td>
										<td style="display:none">
										{{product.id}}
										</td>
										<td style="display:none">
										{{product.chid}}
										</td>
										
									</tr>
						</table>
					
					</td>
					</tr>
					
					</table>
					<button id="btnSubmit" type="submit" hidden="true"></button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="${request.contextPath}/statics/js/bjmes/config/product_comp_list.js?_${.now?long}"></script>
</body>
</html>