<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>批次计划</title>
<#include "/web_header.html">
</head>
<body>
	<div id="rrapp">
		<div class="main-content">
			<div class="box box-main">
				<div class="box-body">
					<form id="searchForm" method="post" class="form-inline" action="${request.contextPath}/zzjmes/batchPlan/getBatchList">
						<div class="row">
							<div class="form-group">
								<label class="control-label" style="width: 50px;"><span style="color:red">*</span>工厂：</label>
								<div class="control-inline">
									<div class="input-group treeselect" style="width: 60px" id="parentDiv">
										<select v-model="search_werks" name="search_werks" id="search_werks" style="width: 60px;height: 28px;">
											<!-- <option value="0">全部</option> -->
											<#list tag.getUserAuthWerks("ZZJMES_BATCH_PLAN") as factory>
												<option data-name="${factory.NAME}" value="${factory.code}">${factory.code}</option>
											</#list>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" ><span style="color:red">*</span>车间：</label>
								<div class="control-inline">
									<div class="input-group treeselect" style="width: 70px" id="parentDiv">
										<select v-model="search_workshop" name="search_workshop" id="search_workshop" style="width: 70px;height: 28px;">
											<option v-for="w in search_workshoplist" :value="w.CODE">{{ w.NAME }}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label"><span style="color:red">*</span>线别：</label>
								<div class="control-inline">
									<div class="input-group treeselect" style="width: 60px" id="parentDiv">
										<select v-model="search_line" name="search_line" id="search_line" style="width: 60px;height: 28px;">
											<option v-for="w in search_linelist" :value="w.CODE">{{ w.NAME }}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label"><span style="color:red">*</span>订单：</label>
								<div class="control-inline">
									<div class="input-group treeselect" style="width: 120px" id="parentDiv">
										<input v-model="search_order_no" type="text" name="search_order_no" id="search_order_no" class="form-control" @click="getOrderNoFuzzy()" @keyup.enter="query" placeholder="订单编号">
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<input type="button" id="btnQuery" @click="query" class="btn btn-info btn-sm" value="查询" /> 
								<input type="button" id="btnClear" @click="btnAdd"  class="btn btn-success btn-sm" value="新增" />
							</div>
						</div>
					</form>
					<table id="dataGrid"></table>
				</div>
			</div>
		</div>
		<div id="addLayer" style="display: none; padding: 10px;">
			    <form id="addForm" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;生产工厂</label>
						<div class="col-sm-9">
							<select v-model="batchPlan.werks" name="werks" id="werks" style="width: 140px;height: 28px;">
								<option value="">请选择</option>
								<#list tag.getUserAuthWerks("ZZJMES_BATCH_PLAN") as factory>
									<option data-name="${factory.NAME}" value="${factory.code}">${factory.code}</option>
								</#list>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;生产车间</label>
						<div class="col-sm-9">
							<select v-model="batchPlan.workshop" name="workshop" id="workshop" style="width: 140px;height: 28px;">
								<option value="">请选择</option>
								<option v-for="w in batchPlan.workshoplist" :value="w.CODE">{{ w.NAME }}</option>
							</select>						
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;生产线别</label>
						<div class="col-sm-9">
							<select v-model="batchPlan.line" name="line" id="line" style="width: 140px;height: 28px;">
								<option value="">请选择</option>
								<option v-for="w in batchPlan.linelist" :value="w.CODE">{{ w.NAME }}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;订单编号</label>
						<div class="col-sm-3 no-padding-right">
							<input v-model="order" @click="addPageOrder" style="width: 140px;" type="text" name="order" id="order" class="form-control"  placeholder="订单编号">
							<input v-model="batchPlan.order_no" type="hidden" name="order_no" id="order_no" class="form-control" placeholder="订单编号">
						</div>
						<div class="col-sm-6 no-padding-right" style="text-align: right;">
							{{batchPlan.orderDesc}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;生产批次</label>
						<div class="col-sm-9">
							<input v-model="batchPlan.batch" type="text"  disabled="disabled"  name="batch"  class="input-medium" style="width: 60px;" placeholder="" id="batch"  />批&nbsp;
							&nbsp;<input v-model="batchPlan.quantity" type="text" class="input-medium" style="width: 55px;" placeholder="" id="quantity" name="quantity"  />车付
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;计划日期</label>
						<div class="col-sm-9">
							<input id="start_date"  name="start_date" placeholder="开始时间..." style="height: 28px;width:100px" onclick="WdatePicker({el:'start_date',dateFmt:'yyyy-MM-dd'});" type="text">-<input id="end_date" name="end_date" placeholder="结束时间..." style="height: 28px;width:100px" onclick="WdatePicker({el:'end_date',dateFmt:'yyyy-MM-dd'});" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="">备注</label>
						<div class="col-sm-9">
							<textarea v-model="batchPlan.memo" class="input-xlarge"  name="memo" style="width: 300px" id="edit_memo" rows="2"></textarea>
						</div>
					</div>
			</form>
		</div>
		
		<div id="editLayer" style="display: none; padding: 10px;">
		    <form id="editForm" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;生产工厂</label>
					<div class="col-sm-9">
						<input disabled="disabled" v-model="editBatchPlan.werks" style="width: 140px;" type="text" class="form-control" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;生产车间</label>
					<div class="col-sm-9">
						<input disabled="disabled" v-model="editBatchPlan.workshop_name" style="width: 140px;" type="text" class="form-control" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;生产线别</label>
					<div class="col-sm-9">
						<input disabled="disabled" v-model="editBatchPlan.line_name" style="width: 140px;" type="text" class="form-control" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;订单编号</label>
					<div class="col-sm-3 no-padding-right">
						<input disabled="disabled" v-model="editBatchPlan.order_no" style="width: 140px;" type="text" class="form-control"  placeholder="订单编号">
					</div>
					<div class="col-sm-6 no-padding-right" style="text-align: right;">
						{{batchPlan.orderDesc}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;生产批次</label>
					<div class="col-sm-9">
						<input v-model="editBatchPlan.batch" type="text"  disabled="disabled"  name="batch"  class="input-medium" style="width: 60px;" placeholder="" id="batch"  />批&nbsp;
						&nbsp;<input v-model="editBatchPlan.quantity" type="text" class="input-medium" style="width: 55px;" placeholder="" id="quantity" name="quantity"  />车付
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-sm-3 control-label no-padding-right no-padding-right" for=""><span style="color:red">*</span>&nbsp;计划日期</label>
					<div class="col-sm-9">
						<input id="edit_start_date"  name="edit_start_date" placeholder="开始时间..." style="height: 28px;width:100px" onclick="WdatePicker({el:'edit_start_date',dateFmt:'yyyy-MM-dd'});" type="text">-<input id="edit_end_date" name="edit_end_date" placeholder="结束时间..." style="height: 28px;width:100px" onclick="WdatePicker({el:'edit_end_date',dateFmt:'yyyy-MM-dd'});" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="">&nbsp;状态</label>
					<div class="col-sm-9">
						<select v-model="editBatchPlan.status" name="status" id="status" style="width: 140px;height: 28px;">
							<option value="00">未开始</option>
							<option value="01">生产中</option>
							<option value="02">已完成</option>
						</select>
					</div>
				</div>				
				<div  class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="">&nbsp;调整原因</label>
					<div class="col-sm-9">
						<textarea v-model="editBatchPlan.change_reason" class="input-xlarge"  name="change_reason" style="width: 300px" id="edit_change_reason" rows="2"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="">&nbsp;调整记录</label>
					<div class="col-sm-9">
						<textarea v-model="editBatchPlan.change_content" class="input-xlarge" id="change_reason" name="change_reason" style="width: 300px" id="edit_change_reason" rows="2"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="">备注</label>
					<div class="col-sm-9">
						<textarea v-model="editBatchPlan.memo" class="input-xlarge"  name="memo" style="width: 300px" id="edit_memo" rows="2"></textarea>
					</div>
				</div>
		</form>
	</div>
		

	</div>

	<style>
	.jqgrow {
		height: 35px
	}
	</style>
	<script src="${request.contextPath}/statics/js/zzjmes/common/common.js?_${.now?long}"></script>
	<script src="${request.contextPath}/statics/js/zzjmes/product/batchPlan.js?_${.now?long}"></script>
</body>
</html>