<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>交接记录查询</title>
<#include "/web_header.html">
</head>
<body>
	<div id="rrapp" v-cloak>
			<div class="main-content">
				<div class="box box-main">
					<div class="box-body">
						<form id="searchForm" method="post" class="form-inline"  action="${request.contextPath}/zzjmes/matHandover/queryPage" v-model="page.list">
							<div class="row">
								<div class="form-group">
	                                <label class="control-label" style="width:70px"><span style="color:red">*</span>工厂：</label>
									<div class="control-inline">
										<div class="input-group" style="width:70px">
										<select  name="werks" id="werks" v-model="werks" style="width:100%;height:25px">
										   <#list tag.getUserAuthWerks("ZZJMES_HANDOVER_QUERY") as factory>
												<option data-name="${factory.NAME}" value="${factory.code}">${factory.code}</option>
											</#list>
										</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" style="width: 50px"><span style="color:red">*</span>车间：</label>
									<div class="control-inline" style="width:70px">
	                                       <select  name="workshop" id="workshop" v-model="workshop" style="width:100%;height:25px">
											  <option v-for="w in workshop_list" :value="w.code" :key="w.ID">{{ w.NAME }}</option>
											</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" style="width: 60px"><span style="color:red">*</span>订单：</label>
									<div class="control-inline">
										<div class="input-group" style="width: 160px">
											<input type="text" name="order_no" id="search_order" class="form-control" @click="getOrderNoFuzzy()">
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label"style="width:60px">交付人：</label>
									<div class="control-inline" style="width:80px">
	                                       	<input type="text" name="deliver_user" id="deliver_user" class="form-control" style="width:100%">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" style="width: 60px">交接日期：</label>
									<div class="control-inline">
										<div class="input-group" style="width:170px">
										<div class="control-inline">
											<div class="input-group" style="width:80px">
			                                    <input type="text" id="start_date" name="start_date" 
												class="form-control" style="width: 80px;"
												onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){}});" />						    
											 </div>
											<div class="input-group" style="width:80px">
											    <input type="text" id="end_date" name="end_date" 
												class="form-control" style="width: 80px;"
												onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){}});" />						
											 </div>
										</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
<!-- 							    <div class="form-group"> -->
<!-- 									<label class="control-label"><span style="color:red">*</span>线别：</label> -->
<!-- 									<div class="control-inline" style="width:70px"> -->
<!-- 	                                       <select  name="line" id="line" v-model="line" style="width:100%;height:25px"> -->
<!-- 											  <option v-for="w in line_list" :value="w.code" :key="w.ID">{{ w.NAME }}</option> -->
<!-- 											</select> -->
<!-- 									</div> -->
<!-- 								</div> -->
                                <div class="form-group">
									<label class="control-label" style="width:70px">接收人：</label>
									<div class="control-inline" style="width:70px">
	                                       	<input type="text" name="receive_user" id="receive_user" class="form-control" style="width:100%">
									</div>
								</div>
								<div class="form-group">
	                                <label class="control-label" style="width: 50px">批次：</label>
									<div class="control-inline">
										<div class="input-group" style="width:70px">
										  <select  name="zzj_plan_batch" id="zzj_plan_batch" v-model="zzj_plan_batch" style="width:100%;height:25px" >
						                  
										  </select>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label" style="width: 60px">零部件号：</label>
									<div class="control-inline">
										<div class="input-group" style="width: 160px">
											<span class="input-icon input-icon-right" style="width: 84%;">
		                                     	<input type="text"  name="zzj_no" id="zzj_no" v-on:keyup.enter="enter()" style="width: 100%;"  class="form-control"/>	
		                                     	<i class="ace-icon fa fa-barcode black btn_scan" style="cursor: pointer;" onclick="doScan('zzj_no')"> </i>
		                                  	 </span>
		                                  	 <input type="button"  class="btn btn-default btn-sm" value=".." @click="more($('#zzj_no'))" style="width: 5px;float:right"/>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<button type="button" class="btn btn-primary btn-sm" id="btnQuery" @click="query">查询</button>
									<button type="button" class="btn btn-primary btn-sm" id="btnExp" @click="exp">导出</button>
	<!-- 								<button type="button" class="btn btn-default btn-sm" id="reset">重置</button> -->
								</div>
							</div>
						</form>
						<div id="divDataGrid" style="width:100%;overflow:auto;">
							<table id="dataGrid"></table>
							<div id="dataGridPage"></div>
						</div>	
                            <div id="layer_more" style="display:none;height:300px">
							<div id="pgtoolbar1">
								<div id="links">
									<a href='#' class='btn'  style="width:63px;margin-left:-3px;"><input type='checkbox'  id='checkall' style="margin:0px;"></input> 全选</a> 
									<a href='#' class='btn' id='newOperation' onclick="addMore()"><i class='fa fa-plus' aria-hidden='true'></i> 新增</a> 
									<a href='#' class='btn' id='btn_refresh' onclick="refreshMore()"><i class='fa fa-refresh' aria-hidden='true'></i> 清空</a> 
									<a href='#' class='btn' id='btn_delete' onclick="delMore()"><i class='fa fa-trash' aria-hidden='true'></i> 删除</a> 
								</div>
								<table id="moreGrid" class="table table-bordered"  style="text-align:center"> </table>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<script src="${request.contextPath}/statics/js/zzjmes/product/matHandoverQuery.js?_${.now?long}"></script>
</body>
</html>