<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/web_header.html">
</head>
<body>
<div id="rrapp" v-cloak style="width:1000px">
	<div class="main-content">
		<div class="box box-main">
			<div class="box-body">
				<form class="form-horizontal"  id="saveForm" action="#" method="post">

					<div class="form-group" style="align:center">    
						<div  style="float:left;width:100%">
							<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right" >
								<font style="color:red;font-weight:bold">*</font>发货日期
							</label>
							 <div style="float:left;width:50%" class="col-sm-8">
							    <input type="text" id="deliver_date" name="deliver_date"  class="form-control " v-model="maturgent.DELIVER_DATE" placeholder="发货日期" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
							 </div>
						</div>	
					</div>
					
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right" >
								     <font style="color:red;font-weight:bold">*</font>收货人
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="receiving_cargo" name="receiving_cargo" class="form-control "  v-model="maturgent.RECEIVING_CARGO" placeholder="收货人" />
							    </div>
						</div>	    
					</div>
					
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>收货地址
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="receiving_address" name="receiving_address" class="form-control " v-model="maturgent.RECEIVING_ADDRESS" placeholder="收货地址" />
							    </div>
						</div>    
					</div>
					
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right" >
								   <font style="color:red;font-weight:bold">*</font>收货电话 
								 </label>
							   	<div style="float:left;width:50%" class="col-sm-8">
							   	    <input type="text"  id="receiving_telephone" name="receiving_telephone" class="form-control "  v-model="maturgent.RECEIVING_TELEPHONE" placeholder="收货电话 "/>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right" >
									<font style="color:red;font-weight:bold">*</font>货运公司
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
								    <input type="text" id="freight_company" name="freight_company" class="form-control " v-model="maturgent.FREIGHT_COMPANY" placeholder="货运公司" />
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right" >
									<font style="color:red;font-weight:bold">*</font>货运司机
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text" id="freight_driver" name="freight_driver" class="form-control " v-model="maturgent.FREIGHT_DRIVER" placeholder="货运司机" />
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right">
									<font style="color:red;font-weight:bold">*</font>托运单号
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="consignment_number" name="consignment_number" class="form-control "  v-model="maturgent.CONSIGNMENT_NUMBER" placeholder="托运单号"/>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right">
									<font style="color:red;font-weight:bold">*</font>货车车牌
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="freight_license_plate" name="freight_license_plate" class="form-control "  v-model="maturgent.FREIGHT_LICENSE_PLATE" placeholder="货车车牌"/>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right">
									<font style="color:red;font-weight:bold">*</font>起运时间
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="shipment_date" name="shipment_date" class="form-control "  v-model="maturgent.SHIPMENT_DATE" placeholder="起运时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right">
									<font style="color:red;font-weight:bold">*</font>预计送达
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="expected_service" name="expected_service" class="form-control "  v-model="maturgent.EXPECTED_SERVICE" placeholder="预计送达" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
							    </div>
						</div>
					</div>
					<div class="form-group"style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right">
									体积单价
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="volume_unit_price" name="volume_unit_price" class="form-control"  v-model="maturgent.VOLUME_UNIT_PRICE" placeholder="体积单价"/>
							    </div>
						</div>
					</div>
					<div class="form-group"style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right">
									重量单价
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="weight_unit_price" name="weight_unit_price" class="form-control"  v-model="maturgent.WEIGHT_UNIT_PRICE" placeholder="重量单价"/>
							    </div>
						</div>
					</div> 
		<!--  		<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:20%" class="col-sm-3 control-label no-padding-right">
									<font style="color:red;font-weight:bold">*</font>工厂
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="fact_no" name="fact_no" class="form-control number"  v-model="maturgent.EXPECTED_SERVICE" placeholder="工厂" />
							    </div>
						</div>
					</div>-->
					<button id="btnSubmit" type="submit" hidden="true"></button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="${request.contextPath}/statics/js/wms/config/wms_c_shipping_edit.js?_${.now?long}"></script>
</body>
</html>