<!DOCTYPE html>
<html>
<head>
<title>仓库存储类型配置</title>
<#include "/web_header.html">
</head>
<body>
<div id="rrapp" v-cloak style="width:600px">
	<div class="main-content">
		<div class="box box-main">
			<div class="box-body">
				<form class="form-horizontal"  id="saveForm" action="#" method="post">
					<div class="form-group" style="align:center;margin-top:15px">
                              <div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
								     <font style="color:red;font-weight:bold">*</font>仓库代码：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
<!-- 							      <input type="text" name="whNumber"  class="form-control required" v-model="wharea.whNumber"  id="whNumber"  @click="getWhNoFuzzy()"  placeholder="仓库代码"/> -->
							       <select name="whNumber"  class="required" v-model="wharea.whNumber"  id="whNumber" style="width:100%;height:25px">
										<#list tag.getUserAuthWh("WMS_CORE_WH_AREA") as wh> 
											<option value="${wh.code}">${wh.code}</option>
										</#list>
									</select>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>存储区代码：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="storageAreaCode" name="storageAreaCode" class="form-control required"  v-model="wharea.storageAreaCode" placeholder="存储区代码" />
							    </div>
						</div>
					</div>
					
					<div class="form-group" style="align:center">
                              <div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >存储区名称：</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="areaName" name="areaName" class="form-control"  v-model="wharea.areaName" placeholder="存储区名称"/>
							    </div>
						</div>
					</div>
					
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>物料存储模式：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <select id="storageModel" name="storageModel" v-model="wharea.storageModel" style="width:100%;height:25px">
									   	    <option value='00'>固定存储</option>
									   	    <option value='01'>随机存储</option>
							   	    </select>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>入库规则：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <select id="putRule" name="putRule" v-model="wharea.putRule" style="width:100%;height:25px">
					                		<option value='02'>一般存储区</option>
									   	    <option value='00'>空仓位</option>
									   	    <option value='01'>添加至现有仓位</option>
							   	    </select>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>是否混储：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <select id="mixFlag" name="mixFlag" v-model="wharea.mixFlag" style="width:100%;height:25px" >
									   	    <option value='0'>否</option>
									   	    <option value='X'>是</option>
							   	    </select>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>是否进行库容检查：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <select id="storageCapacityFlag" name="storageCapacityFlag" v-model="wharea.storageCapacityFlag" style="width:100%;height:25px">
									   	    <option value='0'>否</option>
									   	    <option value='X'>是</option>
							   	    </select>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>是否自动上架：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <select id="autoPutawayFlag" name="autoPutawayFlag" v-model="wharea.autoPutawayFlag" style="width:100%;height:25px">
									   	    <option value='0'>否</option>
									   	    <option value='X'>是</option>
							   	    </select>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>是否自动补货：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <select id="autoReplFlag" name="autoReplFlag" v-model="wharea.autoReplFlag" style="width:100%;height:25px">
									   	    <option value='0'>否</option>
									   	    <option value='X'>是</option>
							   	    </select>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>是否进行重量检查：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <select id="checkWeightFlag" name="checkWeightFlag" v-model="wharea.checkWeightFlag" style="width:100%;height:25px">
									   	    <option value='0'>否</option>
									   	    <option value='X'>是</option>
							   	    </select>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
                              <div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >楼层：</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="floor" name="floor" class="form-control digits"  v-model="wharea.floor" placeholder="楼层"/>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
                              <div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >坐标：</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <input type="text"  id="coordinate" name="coordinate" class="form-control"  v-model="wharea.coordinate" placeholder="坐标"/>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	<font style="color:red;font-weight:bold">*</font>状态：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <select id="status" name="status" v-model="wharea.status" style="width:100%;height:25px">
									   	    <option value='00'>启用</option>
									   	    <option value='01'>停用</option>
							   	    </select>
							    </div>
						</div>
					</div>
					<div class="form-group" style="align:center">
						<div  style="float:left;width:100%">
								<label style="float:left;width:25%" class="col-sm-3 control-label no-padding-right" >
							     	空储位搜索顺序：
								</label>
							   	<div style="float:left;width:50%" class="col-sm-8">
					                <select id="binSearchSequence" name="binSearchSequence" v-model="wharea.binSearchSequence" style="width:100%;height:25px">
									   	    <option value='00'>按储位编码排序</option>
									   	    <option value='01'>按储位坐标排序</option>
							   	    </select>
							    </div>
						</div>
					</div>
					<button id="btnSubmit" type="submit" hidden="true"></button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="${request.contextPath}/statics/js/wms/config/wms_core_wh_area_edit.js?_${.now?long}"></script>
</body>
</html>