<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${tag.getLocale("CONTROL_FLAG_CONFIG","M")}</title>
<#include "/web_header.html">
</head>
<body>
	<div id="rrapp" v-cloak style="width: 700px">
		<div class="main-content">
			<div class="box box-main">
				<div class="box-body">
					<form class="form-horizontal" id="saveForm" action="#"
						method="post">
						<div class="form-group" style="align: center; margin-top: 15px">
							<div style="float: left; width: 100%">
								<label style="float: left; width: 30%"
									class="col-sm-3 control-label no-padding-right"> <font
									style="color: red; font-weight: bold">*</font>${tag.getLocale("WAREHOUSECODE","M")}：
								</label>
								<div style="float: left; width: 45%" class="col-sm-8">
									<input type="text" name="warehouseCode" id="warehouseCode"
										class="form-control required"
										v-model="controlflag.warehouseCode" @click="getWhNoFuzzy()"
										placeholder='${tag.getLocale("WAREHOUSECODE","M")}'/>
								</div>
							</div>
						</div>
						
						<div class="form-group" style="align: center">
							<div style="float: left; width: 100%">
								<label style="float: left; width: 30%"
									class="col-sm-3 control-label no-padding-right"> <font
									style="color: red; font-weight: bold">*</font>${tag.getLocale("CONTROL_FLAG","M")}：
								</label>
								<div style="float: left; width: 45%" class="col-sm-8">
									<input type="text" id="controlFlag" name="controlFlag"
										class="form-control required"
										v-model="controlflag.controlFlag"
										placeholder="${tag.getLocale("CONTROL_FLAG","M")}" />
								</div>
							</div>
						</div>
						<div class="form-group" style="align: center">
							<div style="float: left; width: 100%">
								<label style="float: left; width: 30%"
									class="col-sm-3 control-label no-padding-right">
									 <font style="color:red;font-weight:bold">*</font>${tag.getLocale("CONTROL_FLAG_TYPE","M")}： </label>
								<div style="float: left; width: 45%" class="col-sm-8">
									<select id="controlFlagType" name="controlFlagType"
										v-model="controlflag.controlFlagType" style="width: 100%" class="required"> 
										<option value='00'>入库</option>
										<option value='01'>出库</option>
									</select>
								</div>
							</div>
						</div>
						
						
						<div class="form-group" style="align: center">
							<div style="float: left; width: 100%">
								<label style="float: left; width: 30%"
									class="col-sm-3 control-label no-padding-right">
									${tag.getLocale("DESCS","M")}： </label>
								<div style="float: left; width: 45%" class="col-sm-8">
									<input type="text" id="des" name="des"
										class="form-control " v-model="controlflag.des"
										placeholder="${tag.getLocale("DESCS","M")}" />
								</div>
							</div>
						</div>
						
						<button id="btnSubmit" type="submit" hidden="true"></button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script
		src="${request.contextPath}/statics/js/wms/config/wms_c_control_flag_edit.js?_${.now?long}"></script>
</body>
</html>