<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>物料上线配置导入</title>
<#include "/web_header.html">
<style>
 .msg-font{color:red}
</style>
</head>
<body >
<div id="rrapp" v-cloak>
<div class="main-content">
<!-- <div class="wrapper container" id="vue"  style="padding:10px"> -->
	<div class="box box-main">
		<div class="box-body">
			<form id="uploadForm" class="form-inline" action="${request.contextPath}/config/matusing/preview" 
				enctype="multipart/form-data" method="post">
				<div class="form-group">
				    <label class="control-label">导入工厂：</label>
						<div class="control-inline">
						     <select  name="werks" id="werks" class="form-control width-80" style="width:100%;height:25px">
								<#list tag.getUserAuthWerks("WMS_C_MAT_USING") as factory> 
									<option value="${factory.code}">${factory.code}</option>
								</#list>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">模板文件：</label>
						<div class="control-inline" >
							<input type="file" id="excel" name="excel" value="" class="form-control width-400"/>
						</div>
					</div>
					<div class="form-group">
						<button type="submit"  class="btn btn-primary btn-sm">导入预览</button>
						<a class="btn btn-default" href='#' id="saveUpload" onclick="saveUpload()" style="display:none">保存导入</a>
				        <a href="${request.contextPath}/statics/excel/import-wms-c-mat-using.xlsx">下载导入模板</a>
					</div>
			</form>
<!-- 			<div id="divDataGrid" style="width:100%;overflow:auto;"> -->
			    <table id="dataGrid" ></table>  
<!-- 			</div> -->
		</div>
	</div>
<!-- 	</div> -->
</div>
</div>
	<script src="${request.contextPath}/statics/js/wms/config/wms_c_mat_using_upload.js?_${.now?long}"></script>
</body>