<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>工厂业务类型配置表</title>
<#include "/web_header.html">
</head>
<body >
<div id="rrapp" v-cloak>
	<div class="main-content">
		<div class="box box-main">
			<div class="box-body">
				<form id="searchForm" v-model="page.list" action="${request.contextPath}/config/plantbusiness/list" method="post" class="form-inline" >
					<div class="form-group">
						<label class="control-label">工厂代码：</label>
						<div class="control-inline">
                             <!-- <input type="text" class="form-control" id="werks" name="werks" @click="getPlantNoFuzzy()"  placeholder="工厂代码">							 -->
                             <select class="form-control" name="werks" id="werks" >
                                <#list tag.getUserAuthWerks("WMS_C_PLANT_BUSINESS") as factory> 
                                    <option value="${factory.code}">${factory.code}</option>
                                </#list>
                            </select>
                    </div>
					</div>
					<div class="form-group">
						<label class="control-label">WMS业务分类：</label>
						<div class="control-inline">
                             <select name="businessClass" style="width: 100%;height:25px"> 
                                   <option value=''>全部</option>
								   <#list tag.wmsDictList('BUSINESS_CLASS') as d> 
								     <option value="${d.code}">${d.value}</option> 
								   </#list>
							 </select>
                        </div>
					</div>
					<div class="form-group">
						<label class="control-label">WMS业务类型：</label>
						<div class="control-inline">
                           <select name="businessType" style="width: 100%;height:25px"> 
                                   <option value=''>全部</option>
								   <#list tag.wmsDictList('BUSINESS_TYPE') as d> 
								     <option value="${d.code}">${d.value}</option> 
								   </#list>
							 </select>
                        </div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-sm">查询</button>
						<button type="reset" class="btn btn-default btn-sm">重置</button>
					</div>
				</form>
				<div id="pgtoolbar1">
				   <div id="links" >
				   <a href='#' class='btn' id='newOperation' title="新增"><i class='fa fa-plus' aria-hidden='true'></i> 新增</a>
				   
				   <a href='#' class='btn' id='editOperation' title="修改"><i class='fa fa-pencil-square-o' aria-hidden='true'></i> 修改</a>
				   
				   <a href='#' class='btn' id='deleteOperation'  title="删除"><i class='fa fa-trash' aria-hidden='true'></i> 删除</a>
				   
<!-- 				   <a href='#' class='btn' id='importOperation'><i class='fa fa-upload' aria-hidden='true'></i> 导入</a> -->
				   
				   <a href='#' class='btn' id='copyOperation'><i class='glyphicon glyphicon-repeat' aria-hidden='true'></i> 复制</a>
				   
				   	<a href='#' class='btn' id='exportOperation' onclick="export2Excel()"><i class='fa fa-download' aria-hidden='true'></i> 导出</a>
				   
				   <a href="#" class="btn" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a> 
				   </div>
				</div>
				<div id="divDataGrid" style="width:100%;overflow:auto;">
					<table id="dataGrid"></table>
					<div id="dataGridPage"></div>
				</div>	
				<table id="tb_excel" style="display:none"></table>	
		</div>
	</div>
	</div>
</div>
	<script src="${request.contextPath}/statics/js/wms/config/wms_c_plant_business_list.js?_${.now?long}"></script>
</body>