<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>检验破坏查询</title> <#include "/web_header.html">
</head>

<body>
	<div class="wrapper">
		<div class="main-content" id="vue-app">
			<div class="box box-main">

				<div class="box-body">
				   <form id="searchForm" class="form-inline"
						action="${request.contextPath}/qcQuery/destroyQtyList">
						<div class="row" style="margin:0 0;">
							<div class="form-group">
								<label class="control-label" style="width: 60px">工厂：</label>
								<div class="control-inline" style="width: 100px;">
									<select class="form-control" name="werks" id="werks"> 
										<#list tag.getUserAuthWerks("QUERY_QC_DESTROY_QTY") as factory> 
										 <#if params?? && params.werks?? && params.werks == factory.code>
										   <option value="${factory.code}" selected="selected">${factory.code}</option>
										   <#else>
										   <option value="${factory.code}">${factory.code}</option>
										 </#if> 
										</#list>
									</select>
								</div>
							</div>
							
						<div class="form-group">
							<label class="control-label" style="width: 60px">批次：</label>
							<div class="control-inline" style="width: 100px;">
								<input class="form-control" name="batch" style="width: 100px;" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" style="width: 60px">供应商：</label>
							<div class="control-inline" style="width: 100px;">
								<input class="form-control" name="lifnr" style="width: 100px;" />
							</div>
						</div>
						
							
						
						
						
						<div class="form-group">
							<label class="control-label" style="width: 60px">料号：</label>
							<div class="control-inline" style="width: 100px;">
								<input class="form-control" name="matnr" style="width: 100px;" />
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" style="width: 60px">质检员：</label>
							<div class="control-inline" style="width: 100px;">
								<input class="form-control" name="qcPeople" style="width: 100px;" />
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label" style="width: 60px">成本中心：</label>
							<div class="control-inline" style="width: 100px;">
								<input class="form-control" name="iqcCostCenter" style="width: 100px;" />
							</div>
						</div>
						 
						 <div class="form-group">
								<label class="control-label" style="width: 60px">检验日期：</label>
								<div class="control-inline">
								  <#if params??>
								    <input type="text" id="dateStart"
										name="dateStart" value="${params.dateStart!''}"
										class="form-control width-300" style="width: 100px;"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(pd){}});" />
										<#else>
										<input type="text" id="dateStart"
										name="dateStart" value=""
										class="form-control width-300" style="width: 100px;"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(pd){}});" />
								  </#if>
									
								</div>
								-
								<div class="control-inline">
								 <#if params??>
								   <input type="text" id="dateEnd" name="dateEnd"
										value="${params.dateEnd!''}"
										class="form-control width-300" style="width: 100px;"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(pd){}});" />
										<#else>
										<input type="text" id="dateEnd" name="dateEnd"
										value=""
										class="form-control width-300" style="width: 100px;"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(pd){}});" />
								 </#if>
									
								</div>
							</div>
						 
						
						<div class="form-group">
							<div class="control-inline" >
								<button type="submit" class="btn btn-primary">查询</button>
							</div>
						</div>
						
						<div class="form-group">
							<div class="control-inline" >
								<button type="reset" class="btn btn-default">重置</button>
							</div>
						</div>
						
					</div>
					</form>
					
				   <table id="dataGrid"></table>
				   <div id="dataGridPage"></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="${request.contextPath}/statics/js/wms/qc/wms_qc_query_destroyqty_list.js?_${.now?long}"></script>
</html>