<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
    <title>标签</title>
    <style>
        @page {
            size: 210mm 297mm; /*设置纸张大小:A4(210mm 297mm)、A3(297mm 420mm) 横向则反过来*/
            margin: 0.05in;
            padding: 0.1em;
/*             @bottom-center{
                content:"CSCC © 版权所有";
                font-family: SimSun;
                font-size: 12px;
                color:red;
            }; */
            @top-center { content: element(header) };
/*             @bottom-right{
                content:"第" counter(page) "页  共 " counter(pages) "页";
                font-family: SimSun;
                font-size: 12px;
                color:#000;
            }; */
        }
    </style>
</head>
<body style="font-family: SimSun;width: 100%;height: 100%;" >
	<#list labelList as label>
		<div style="width: 50%;height: 95mm;font-size: 12px;float: left;margin-bottom: 6px;margin-right: 5px;">
			<table style="border:solid #000000; border-width:1px 0px 0px 1px;width: 100%;height: 100%;">
				<tr style="width: 100%;">
					<td colspan="5" style="width: 100%;height: 7mm;text-align: center;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">${label.LIKTX}</label>
					</td>
				</tr>

				<tr style="width: 100%;">
					<td style="text-align: left;width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;" >
						物料描述
					</td>
					<td colspan="3" style="text-align: left;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">${label.MAKTX}</label>
					</td>
					<td rowspan="6" style="border:solid #000000; border-width:0px 1px 1px 0px;text-align: left;">
						<img src="${label.barCode}" style="height: 30mm;"></img>
					</td>
				</tr>
				<tr style="width: 100%;">
					<td style="text-align: left;width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;" >
						物料号
					</td>
					<td colspan="3" style="text-align: left;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">${label.MATNR}</label>
					</td>
				</tr>
				<tr style="width: 100%;">
					<td style="text-align: left;width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;">供应商代码</label>
					</td>
					<td colspan="3" style="height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;">${label.LIFNR}</label>
					</td>

				</tr>
				<tr style="width: 100%;">
					<td style="text-align: left;width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;font-size: 10px;" >
						采购订单号
					</td>
					<td colspan="3" style="text-align: left;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">${label.PO_NO}</label>
					</td>
				</tr>
				<tr style="width: 100%;">
					<td style="width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;">行项目号</label>
					</td>
					<td colspan="3" style="height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;">${label.PO_ITEM_NO}</label>
					</td>

				</tr>

				<tr style="width: 100%;">
					<td style="width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">数量/单位</label>
					</td>
					<td  style="width: 15%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">${label.BOX_QTY}${label.UNIT}</label>
					</td>

					<td style="width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;">箱号</label>
					</td>
					<td style="width: 15%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;">${label.BOX_SN}</label>
					</td>
				</tr>

				<tr style="width: 100%;">
					<td style="width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">生产日期</label>
					</td>
					<td colspan="2" style=";height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">${label.PRODUCT_DATE}</label>
					</td>
					<td style="width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;">生产批次</label>
					</td>
					<td style="width: 30%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;"></label>
					</td>
				</tr>
				<tr style="width: 100%;">
					<td style="width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">有效日期</label>
					</td>
					<td colspan="2" style="height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">${label.EFFECT_DATE}</label>
					</td>
					<td style="width: 20%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;">BYD批次</label>
					</td>
					<td style="width: 30%;height: 7mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;text-align: left;">${label.BATCH}</label>
					</td>
				</tr>
				<tr style="width: 100%;">
					<td style="width: 20%;height: 10mm;border:solid #000000; border-width:0px 1px 0px 0px;">
						<label class="control-label" style="width: 100%;">条码</label>
					</td>
					<td colspan="4" style="border:solid #000000; border-width:0px 1px 0px 0px;text-align: center;">
						<img src="${label.tCode}" style="height: 10mm;"/>
					</td>
				</tr>
				<tr style="width: 100%;">
					<td style="width: 20%;height: 2mm;border:solid #000000; border-width:0px 1px 1px 0px;">
					</td>
					<td colspan="4" style="width: 100%;height: 2mm;border:solid #000000; border-width:0px 1px 1px 0px;text-align: center;">
						<label class="control-label" style="width: 100%;">${label.LABEL_NO}</label>
					</td>
				</tr>
				<tr style="width: 100%;">
					<td style="width: 20%;height: 4mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;">备注</label>
					</td>
					<td colspan="4" style="width: 80%;height: 4mm;border:solid #000000; border-width:0px 1px 1px 0px;">
						<label class="control-label" style="width: 100%;"></label>
					</td>
				</tr>
			</table>
		</div>
	</#list>
</body>
</html>