<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>QE确认</title>  
<#include "/web_header.html">
<style type="text/css">
	[v-cloak] { display: none }
</style>
</head>
<body class="hold-transition ">
	<div class="wrapper" id="page_div">
		<div class="main-content">
				<div class="box-body">
					<form id="searchForm" class="form-inline" action="#">
						<div class="form-group">
							<label class="control-label">工厂：</label>
							<div class="control-inline" style="width:150px;">
							<select class="input-medium" name="WERKS" id="WERKS" style="height: 30px;width: 150px;">
							   <#list tag.getUserAuthWerks("QMS_PROCESS_TEST_RECORD") as WERKS>
							      <option value="${WERKS.code}" >${WERKS.NAME}</option>
							   </#list>
							</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">检验类别：</label>
							<div class="control-inline" style="width:70px;">
							<select class="input-medium" name="TEST_TYPE" id="TEST_TYPE" style="height: 30px;width: 70px;" >
							   <option value="01">大巴</option>
							   <option value="02">专用车</option>
							</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" >月份：</label>
							<div class="control-inline">
								<input id="SEARCH_MONTH"  name="SEARCH_MONTH"  style="height: 30px;width:90px" type="text" onclick="WdatePicker({el:'SEARCH_MONTH',dateFmt:'yyyy-MM'});">
							</div>	
						</div>			
						<div class="form-group">
							<button type="button" class="btn btn-primary btn-sm" onclick="download();">下载</button>
							<a href=""  id="a_down" style="display:none" ></a>
						</div>
				
					</form>

					
				</div>
			</div>
	</div>
	<script type="text/javascript">
		function download(){
			var file_name = $("#WERKS").val()+$("#TEST_TYPE :selected").text()+$("#SEARCH_MONTH").val()+".xlsx";
			var url="/web/upload/qms/testRecord/"+file_name;
			$("#a_down").attr("href",url);
			document.getElementById("a_down").click();
			
		}
	</script>
</body>
</html>