<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>生产异常查询</title>
<#include "/web_header.html">
</head>
<body>
	<div id="rrapp">
		<div class="main-content">
			<div class="box box-main">
				<div class="box-body">
					<form id="searchForm" method="post" class="form-inline" action="${request.contextPath}/bjmes/productManage/getExceptionList">
						<table>
							<tr>
								<td id="searchForm">
									<div class="form-group">
										<label class="control-label" style="width: 60px">产品编号：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 120px" id="parentDiv">
												<span class="input-icon input-icon-right" style="width: 125px;">
                          <input type="text" name="search_product_no" id="search_product_no" placeholder="产品编号" class="form-control" style="width: 125px;"/>
                          <i onclick="doScan('zzj_no')" class="ace-icon fa fa-barcode black bigger-180 btn_scan" style="cursor: pointer;"></i>
                        </span>
                      </div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" style="width: 60px">工厂：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 120px" id="parentDiv">
												<select name="search_werks" id="search_werks" onchange="vm.onWerksChange(event)" style="width: 120px;" class="form-control">
													<!-- <option value="0">全部</option> -->
													<#list tag.getUserAuthWerks("ZZJMES_PMD_MANAGE") as factory>
													<option value="${factory.code}">${factory.code}</option>
													</#list>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" style="width: 60px">*订单：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 120px" id="parentDiv">
												<input type="text" name="search_order" style="width: 120px;" id="search_order" @click="getOrderNoFuzzy()" onchange="vm.onOrderChange(event)" class="form-control" placeholder="订单名称">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" style="width: 60px">车间：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 80px" id="parentDiv">
												<select name="search_workshop" id="search_workshop" onchange="vm.onWorkshopChange(event)" style="width: 80px;height:25px;background-color:white">
												<option v-for="w in workshoplist" :value="w.CODE">{{ w.NAME }}</option>
												</select>
											</div>
										</div>
									</div>
								</td>
								<td id="searchForm" width="180px">
									<div class="form-group">
										<input type="submit" id="btnSearchData" @click="query" class="btn btn-info btn-sm" value="查询" /> 
										<input type="button" id="btnAdd" @click="addException" class="btn btn-success btn-sm" value="新增" />
										<input type="button" id="btnEdit" @click="saveException" class="btn btn-warning btn-sm" value="保存" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-group">
										<label class="control-label" style="width: 60px">产品类别：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 120px" id="parentDiv">
												<select name="search_product_type" id="search_product_type" class="input-small" style="height:25px;width:125px">
												<option value=''>全部</option>
												<#list tag.masterdataDictList('PRODUCT_TYPE') as dict><option value="${dict.value}">${dict.value}</option>
												</#list>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" style="width: 60px">产品名称：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 120px" id="parentDiv">
												<input type="text" name="search_product_name" id="search_product_name" placeholder="产品名称" class="form-control" style="width: 120px;"/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" style="width: 60px">生产节点：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 120px" id="parentDiv">
                          <input type="text" name="search_process_name" id="search_process_name" placeholder="生产节点" class="form-control" style="width: 120px;"/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" style="width: 60px">异常类别：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 80px" id="parentDiv">
                        <select name="search_exception_type_code" id="search_exception_type_code" class="input-small" style="height:25px;width:80px">
                            <option value=''>全部</option>
                            <#list tag.masterdataDictList('EXCEPTION_TYPE') as dict><option value="${dict.value}">${dict.value}</option>
                            </#list>
                        </select>
											</div>
										</div>
									</div>
								</td>
								<td></td>
              </tr>
              <tr>
                <td>
									<div class="form-group">
										<label class="control-label" style="width: 60px">严重等级：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 125px" id="parentDiv">
												<select name="search_severity_level" id="search_severity_level" class="input-small" style="height:25px;width:125px">
                            <option value=''>全部</option>
                            <option value='0'>不影响</option>
                            <option value='1'>普通</option>
                            <option value='2'>严重</option>
                        </select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" style="width: 60px">责任单位：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 120px" id="parentDiv">
                        <input type="text" name="search_duty_department_name" id="search_duty_department_name" placeholder="责任单位" class="form-control" style="width: 120px;"/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" style="width: 60px">状态：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 120px" id="parentDiv">
												<select name="search_status" id="search_status" class="input-small" style="height:25px;width:120px">
                            <option value=''>全部</option>
                            <option value='0'>未处理</option>
                            <option value='1'>处理中</option>
                            <option value='2'>已处理</option>
                        </select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" style="width: 60px">异常日期：</label>
										<div class="control-inline">
											<div class="input-group treeselect" style="width: 200px" id="parentDiv">
                        <div class="input-group" style="width:170px">
                        <div class="control-inline">
                          <div class="input-group" style="width:80px">
                            <input type="text" id="start_date" name="start_date" class="form-control" placeholder="开始日期" style="width: 80px;"
                            onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){}});" />						    
                           </div>
                          <div class="input-group" style="width:80px">
                            <input type="text" id="end_date" name="end_date" class="form-control" placeholder="结束日期" style="width: 80px;"
                            onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){}});" />						
                           </div>
                        </div>
											</div>
										</div>
									</div>

                </td>
                <td></td>
              </tr>
						</table>
					</form>
					<div id="pgtoolbar1">
						<div class="form-group" id="links">
							<a href='#' class='btn' id='btn_delete'><i class='fa fa-trash' aria-hidden='true'></i> 删除</a> 
							<a href='#' class='btn' id='btn_operation'><i class='fa fa-check' aria-hidden='true'></i> 处理</a> 
							<a href='#' class='btn' id='btn_close'><i class='fa fa-circle' aria-hidden='true'></i> 关闭</a> 
							&nbsp;&nbsp;
							<label class="control-label" style="width:80px;font-size: 12px;text-align:left"><i class='fa fa-list' aria-hidden='true'></i> 总数：{{mydata.length}}</label>
						</div>
					</div>
					<div id="divDataGrid" style="width: 100%; overflow: auto;">
						<table id="dataGrid"></table>
						<!-- <div id="dataGridPage"></div> -->
					</div>
					<table id="tb_excel" style="display: none"></table>
				</div>
			</div>
		</div>
		<div id="addLayer" class="box-body" style="display: none; padding: 10px;">
			<form id="addOrderForm" class="form-inline" action="#">
				<table>
					<tr>
						<td id="searchForm">
              <div class="form-group">
                <label class="control-label" style="width: 80px;font-size:14px">产品编号：</label>
								<div class="control-inline">
                  <div class="input-group treeselect" style="width: 160px" id="parentDiv">
                    <span class="input-icon input-icon-right" style="width: 150px;">
                    <input type="text" name="new_product_no" id="new_product_no" @keypress="getProInfo" class="form-control" style="width: 150px">
                    <i onclick="doScan('new_product_no')" class="ace-icon fa fa-barcode black bigger-180 btn_scan" style="cursor: pointer;"></i>
                  </span>
                  </div>扫描编号或回车后带出产品相关信息 
								</div>
              </div>
							<div class="form-group">
								<label class="control-label" style="width: 80px;font-size:14px">生产工厂：</label>
								<div class="control-inline">
									<div class="input-group treeselect" style="width: 150px" id="parentDiv">
										<input type="text" name="new_werks" id="new_werks" disabled="disabled" class="form-control disabled">
									</div>
								</div>&nbsp;&nbsp;
								<label class="control-label" style="width: 80px;font-size:14px">生产车间：</label>
								<div class="control-inline">
									<div class="input-group treeselect" style="width: 150px" id="parentDiv">
										<input type="text" name="new_workshop" id="new_workshop" disabled="disabled" class="form-control disabled">
									</div>
								</div>
              </div>
              
							<div class="form-group">
                  <label class="control-label" style="width: 80px;font-size:14px">生产订单：</label>
                  <div class="control-inline">
                    <div class="input-group treeselect" style="width: 150px" id="parentDiv">
                      <input type="text" name="new_order" id="new_order" disabled="disabled" class="form-control disabled">
                    </div>
                  </div>&nbsp;&nbsp;
                  <label class="control-label" style="width: 80px;font-size:14px">产品类型：</label>
                  <div class="control-inline">
                    <div class="input-group treeselect" style="width: 150px" id="parentDiv">
                      <input type="text" name="new_product_name" id="new_product_name" disabled="disabled" class="form-control disabled">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label" style="width: 80px;font-size:14px">生产节点：</label>
                    <div class="control-inline">
                      <div class="input-group treeselect" style="width: 150px" id="parentDiv">
                        <input type="text" name="new_process_name" id="new_process_name" class="form-control">
                      </div>
                    </div>&nbsp;&nbsp;
                    <label class="control-label" style="width: 80px;font-size:14px">异常类别：</label>
                    <div class="control-inline">
                      <div class="input-group treeselect" style="width: 150px" id="parentDiv">
                        <select name="new_exception_type_code" id="new_exception_type_code" class="input-small" style="height:25px;width:150px">
                            <#list tag.masterdataDictList('EXCEPTION_TYPE') as dict><option value="${dict.value}">${dict.value}</option>
                            </#list>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" style="width: 80px;font-size:14px">异常原因：</label>
                    <div class="control-inline">
                      <div class="input-group treeselect" style="width: 150px" id="parentDiv">
                        <select name="new_reason_type_code" id="new_reason_type_code" class="input-small" style="height:25px;width:150px">
                            <#list tag.masterdataDictList('ABNORMAL_REASON') as dict><option value="${dict.value}">${dict.value}</option>
                            </#list>
                        </select>
                      </div>
                    </div>&nbsp;&nbsp;
                    <label class="control-label" style="width: 80px;font-size:14px">责任单位：</label>
                    <div class="control-inline">
                      <div class="input-group treeselect" style="width: 150px" id="parentDiv">
                        <input type="text" name="new_duty_department_name" id="new_duty_department_name" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" style="width: 80px;font-size:14px">开始时间：</label>
                    <div class="control-inline">
                      <div class="input-group treeselect" style="width: 150px" id="parentDiv">
                        <input type="text" name="new_start_time" id="new_start_time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,onpicked:function(){}});" class="form-control">
                      </div>
                    </div>&nbsp;&nbsp;
                    <label class="control-label" style="width: 80px;font-size:14px">严重等级：</label>
                    <div class="control-inline">
                      <div class="input-group treeselect" style="width: 150px" id="parentDiv">
                        <select name="new_severity_level" id="new_severity_level" class="input-small" style="height:25px;width:150px">
                            <option value='0'>不影响</option>
                            <option value='1'>普通</option>
                            <option value='2'>严重</option>
                        </select>
                      </div>
                    </div>
                  </div>

						</td>
					</tr>
				</table>
			</form>
		</div>
		<form id="exportForm"  method="post" action="${request.contextPath}/zzjmes/productionException/exportException" style="display:none">
			<input name="search_werks" id="export_werks" type="text"  hidden="hidden">
			<input name="search_order" id="export_order" type="text"  hidden="hidden">
			<input name="search_workshop" id="export_workshop" type="text"  hidden="hidden">
			<input name="search_line" id="export_line" type="text"  hidden="hidden">
			<input name="search_product_no" id="export_product_no" type="text"  hidden="hidden">
			<input name="search_exception_type_code" id="export_exception_type_code" type="text"  hidden="hidden">
			<input name="search_reason_type_code" id="export_reason_type_code" type="text"  hidden="hidden">
			<input name="search_solution" id="export_solution" type="text"  hidden="hidden">
		</form>
	</div>

	<style>
	.jqgrow {
		height: 35px
	}
	</style>
	<script src="${request.contextPath}/statics/js/bjmes/product/productException.js?_${.now?long}"></script>
</body>
</html>