<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <#include "/web_header.html">
</head>
<body>
<div id="rrapp" v-cloak style="width: 700px">
    <div class="main-content">
        <div class="box box-main">
            <div class="box-body">
                <form class="form-horizontal" id="saveForm" action="#"
                      method="post">
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30% ;"
                                   class="col-sm-3 control-label no-padding-right">
                                <font style="color: red; font-weight: bold">*</font> 工厂： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=WORKS" name="WORKS"
                                       class="form-control " v-model="getdata.WORKS"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                公司代码： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=COMPANY_CODE" name="COMPANY_CODE"
                                       class="form-control " v-model="getdata.COMPANY_CODE"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                公司名称： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=COMPANY_NAME" name="COMPANY_NAME"
                                       class="form-control " v-model="getdata.COMPANY_NAME"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                公司英文名称： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=COMPANY_ENGLISH" name="COMPANY_ENGLISH"
                                       class="form-control " v-model="getdata.COMPANY_ENGLISH"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                电话： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=TEL" name="TEL"
                                       class="form-control " v-model="getdata.TEL"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                传真： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=FAX" name="FAX"
                                       class="form-control " v-model="getdata.FAX"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                邮编： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=ZIP_CODE" name="ZIP_CODE"
                                       class="form-control " v-model="getdata.ZIP_CODE"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                地址： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=ADRESS" name="ADRESS"
                                       class="form-control " v-model="getdata.ADRESS"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                公司英文地址： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=ADRESS_ENGLISH" name="ADRESS_ENGLISH"
                                       class="form-control " v-model="getdata.ADRESS_ENGLISH"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                发货人电话： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=CONSIGNOR_TEL" name="CONSIGNOR_TEL"
                                       class="form-control " v-model="getdata.CONSIGNOR_TEL"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                发货人： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=CONSIGNOR" name="CONSIGNOR"
                                       class="form-control " v-model="getdata.CONSIGNOR"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                发货人地址： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=CONSIGNOR_ADRESS" name="CONSIGNOR_ADRESS"
                                       class="form-control " v-model="getdata.CONSIGNOR_ADRESS"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                收货人电话： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=CONSIGNEE_TEL" name="CONSIGNEE_TEL"
                                       class="form-control " v-model="getdata.CONSIGNEE_TEL"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                收货人： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=CONSIGNEE" name="CONSIGNEE"
                                       class="form-control " v-model="getdata.CONSIGNEE"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="align: center">
                        <div style="float: left; width: 100%">
                            <label style="float: left; width: 30%"
                                   class="col-sm-3 control-label no-padding-right">
                                收货人地址： </label>
                            <div style="float: left; width: 45%" class="col-sm-8">
                                <input type="text" id=CONSIGNEE_ADRESS" name="CONSIGNEE_ADRESS"
                                       class="form-control " v-model="getdata.CONSIGNEE_ADRESS"/>
                            </div>
                        </div>
                    </div>
                    <button id="btnSubmit" type="submit" hidden="true" onclick="add()"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="${request.contextPath}/statics/js/wms/in/wms_sto_printconfig_add.js?_${.now?long}"></script>
</body>
</html>
