<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>生产订单同步</title>
<#include "/web_header.html">
</head>
<body class="hold-transition ">
	<div id="rrapp" v-cloak>
		<div class="wrapper">
			<div class="main-content">
				<div class="box box-main">
					<div class="box-body">
						<form id="searchForm" class="form-inline" action="#">
							<div class="form-group">
								<label class="control-label">生产订单：</label>
								<div class="control-inline">
									<div class="input-group treeselect" id="parentDiv">
									<input id="inOrderNo" name="inOrderNo" value="" style="width:200px" class="form-control" aria-invalid="false" type="text">
									<!-- <span class="input-group-btn">
									<a @click="addMore" id="parentButton" title="批量同步生产订单" class="green btn btn-default "><i class="fa fa-th-list"></i></a>
									</span> -->
									</div>
								</div>
							</div>

							<div class="form-group">
								<input type="button" id="btnSync" class="btn btn-primary btn-sm" value="同步"/>
							</div>
						</form>

						<div id="pgtoolbar1">
							<div id="links">
								<a href='#' class='btn' id='newOperation'><i class='fa fa-plus' aria-hidden='true'></i> 新增</a> 
								<a href='#' class='btn' id='btn_refresh'><i class='fa fa-refresh' aria-hidden='true'></i> 清空</a> 
								<a href='#' class='btn' id='btn_delete'><i class='fa fa-trash' aria-hidden='true'></i> 删除</a> 
								<!-- <a href="#" class="btn" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a> -->
							</div>
						</div>
						<table id="dataGrid" style="width: 100px"></table>
						<!-- <div id="dataGridPage"></div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="${request.contextPath}/statics/js/wms/in/wms_syncProdordDetail.js?_${.now?long}"></script>
</body>
</html>