<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>进仓单交接</title>  
<#include "/web_header.html">
<script src="${request.contextPath}/statics/js/wms/common/wms_web_common.js"></script>
<style type="text/css">
	.v-cloak { display: none }
</style>
</head>
<body class="hold-transition " >
	<div class="wrapper"  id="vue">
		<div class="main-content">
			<div class="box box-main">
				<div class="box-body">
                   <form id="searchForm" class="form-inline" action="#">
						<!-- 查询条件 -->
							<div class="form-group">
								<label class="control-label" >工厂：</label>
								<div class="control-inline" >
									<select style="width: 60px;height: 28px;" name="werks" id="werks" onchange="vm.onPlantChange(event)">
									   <#list tag.getUserAuthWerks("HANDOVER_INBOUND") as factory>
									      <option value="${factory.code}">${factory.code}</option>
									   </#list>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label">仓库号：</label>
								<div class="control-inline" >
									<select style="width: 60px;height: 28px;" v-model="whNumber" name="whNumber" id="whNumber" >
									 <option v-for="w in warehourse" :value="w.WH_NUMBER" :key="w.ID">{{ w.WH_NUMBER }}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">仓管员：</label>
								<div class="control-inline" >
									<select style="width: 100px;height: 28px;" name="whManager" id="whManager" >
									 <option value="" >全部</option>
									 	<option v-for="w in relatedareaname" :value="w.MANAGER" :key="w.AUTHORIZE_CODE">{{ w.MANAGER }}</option>
									</select>
								</div>
							</div> 
							<div class="form-group">
								<label class="control-label" ><font style="color:red;font-weight:bold">*</font>单号：</label>
								<span class="input-icon input-icon-right" style="width: 120px;">
								<input type="text" id="inBoundNo" name="inBoundNo" value="" class="form-control"  style="width: 120px;"/>
								<i class="ace-icon fa fa-barcode black bigger-160 btn_scan" style="cursor: pointer" onclick="doScan('inBoundNo')"> </i>
								</span>
							</div>
							<div class="form-group">
								<label class="control-label">供应商代码：</label>
								<input type="text" id="vendor" name="vendor"  class="form-control" style="width: 100px;" @click="getVendorNoFuzzy()"/>
							</div>
							<div class="form-group">
								<label class="control-label">物料号：</label>
								<input type="text" id="matnr" name="matnr" value="" class="form-control" style="width: 80px;"/>
							</div>
							<div class="form-group">
								<label class="control-label">批次：</label>
								<input type="text" id="batch" name="batch" value="" class="form-control" style="width: 80px;"/>
							</div>
							<input type="text" id="dhhidden" name="dhhidden"   style="width: 80px;display:none"/>
							
							<div class="form-group">
							    <input type="button" id="btnqueryhandoverbound" class="btn btn-primary btn-sm " value="查询"/>
								<button type="reset" id="reset" class="btn btn-default btn-sm ">重置</button>
							</div>
							<div class="form-group">
								<label class="control-label">行文本：</label>
								<input type="text" id="item_text" name="item_text" value="" class="form-control" style="width: 120px;"/>
							</div>
							<div class="form-group">
							    <input type="button" id="btnupdateRow" @click="onChangeItemText()" class="btn btn-primary btn-sm " value="批量修改"/>
								
							</div>
							<div class="form-group">
								<label class="control-label">凭证日期：</label>
								<div class="control-inline">
									<input type="text" id="pzddt" name="pzddt" v-model="PZDDT" value=""
										class="form-control"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(pd){}});"
										style="width: 80px;"
										/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">记账日期：</label>
								<div class="control-inline">
									<input type="text" id="jzddt" name="jzddt" v-model="JZDDT" value=""
										class="form-control"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(pd){}});"
										style="width: 80px;"
										/>
								</div>
							</div>
							
							<div class="form-group">
							    <input type="button" id="btnsaveinteralbound" @click="save" class="btn btn-primary btn-sm " value="交接确认"/>
								
							</div>
				   </form>
					
					
					<table id="dataGrid"></table>
				<!-- 交接页面 -->	
				<div id="handoverConfirmLayer" style="display: none; padding: 10px;">
					<div class="modal-body">
                        <form id="newform" class="form-horizontal" action="">
                            <center><table>
                                    <tr style="height:40px">
                                    <td>&nbsp;确认模式：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><label class="radio"><input type="radio" id="radio1"  name="group1" >扫描模式&nbsp;&nbsp;</label></td>
                                    <td><label class="radio"><input type="radio" id="radio2" checked name="group1">刷卡模式</label></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr style="height:40px">
                                    <td>&nbsp;工号：</td><td colspan="3"><input  style="height: 30px;width: 150px" type="text" class="input-medium revise" placeholder="工号..." id="c_userNo" name="c_userNo" /></td>
                                </tr>
                                <tr style="height:40px">
                                    <td>&nbsp;姓名：</td><td colspan="3"><input  style="height: 30px;width: 150px" type="text" class="input-medium revise" placeholder="姓名..." id="c_name" name="c_name" /></td>
                                </tr>
                                <tr style="height:40px">
                                    <td>&nbsp;部门：</td><td colspan="3"><input  style="height: 30px;width: 150px" type="text" class="input-medium revise" placeholder="部门..." id="c_department" name="c_department" /></td>
                                </tr>
                                </table></center>
                            
                        </form>
                    </div>
                    
					
				</div>
				
				<div class="hide" style="dispaly:none" id="inboundWeiwai">
				<form id="searchForm_weiwai" method="post" class="form-inline"  action="${request.contextPath}/in/wmsinbound/sapComponentlist">
						
							<table>
								<tr>
									<td width="100%">
										<div class="form-group">
											<label class="control-label" >
											    采购订单：
											</label>
										   	<div class="control-inline" id="poNo_ww" style="width: 100px;">
										    </div>
										</div>
										
										<div class="form-group">
											<label class="control-label">
											   行号：
											</label>
										   	<div class="control-inline" id="poItemNO_ww">
										    </div>
										</div>
										
										<div class="form-group">
											<label  class="control-label">
											    供应商代码：
											</label>
										   	<div class="control-inline" id="lifnr_ww">
										    </div>
										</div>
										
										<div class="form-group">
											<label  class="control-label">
											    供应商名称：
											</label>
										   	<div class="control-inline" id="liktx_ww">
										    </div>
										</div>
									</td>
									</tr>
									<tr>
									<td width="100%">
										<div class="form-group">
											<label  class="control-label">
											    进仓料号：
											</label>
										   	<div class="control-inline" id="matnr_ww">
										    </div>
										</div>
										<div class="form-group">
											<label  class="control-label">
											    描述：
											</label>
										   	<div class="control-inline" id="maktx_ww">
										    </div>
										</div>
										<div class="form-group">
											<label  class="control-label">
											    数量：
											</label>
										   	<div class="control-inline" id="inQty_ww">
										    </div>
										</div>
										<div class="form-group">
										   <div class="form-group">
											    <!--  <input type="button" id="saveOperation_ww" onclick="confirm_ww()" class="btn btn-success btn-sm" value="确定"/>-->
											 </div>
										</div>
									</td>
									<input type="text" id="werks_ww" name="werks_ww" value="" style="width: 55px;display:none"
										class="form-control" />
								</tr>
							</table>
						</form>
						<!--  <div id="links">
								<a href='#' class='btn' id='newOperation_ww' onclick='newoper_n()'><i class='fa fa-plus' aria-hidden='true'></i></a> 
						</div>-->
						<table class="table table-striped table-bordered" id="inboundWeiWaiTable" style="font-size:12px;">
							<thead>
								<tr>
									<!--  <th width="20px;"></th>-->
									
									<th width="110px;">料号</th>
									<th width="300px;">物料描述</th>
									<th width="130px;">批次</th>
									<th width="60px;">消耗数量</th>
									<th width="60px;">单位</th>
								</tr>
							</thead>
							<tbody>
														
							</tbody>
						</table>
						
			</div>
                
				</div>
			</div>
		</div>
	</div>
	<script src="${request.contextPath}/statics/js/wms/in/wms_handover_inbound.js?_${.now?long}"></script>
</body>
</html>