<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
<title>车型</title>
<#include "/web_header.html">
</head>
<body >
<div id="rrapp" v-cloak>
<div class="main-content">
	<div class="box box-main">
		<div class="box-body">
			<form id="searchForm" v-model="page.list" action="${request.contextPath}/qms/config/busType/list" method="post" class="form-inline" >
						<div class="form-group">
							<label class="control-label">检验类别：</label>
							<div class="control-inline">
                                   <select  name="testType" id="testType" class="form-control" >
										<option value="">请选择</option>
										<option value="01">大巴</option>
										<option value="02">专用车</option>
									</select>							
                             </div>
						</div>
						<div class="form-group">
							<label class="control-label">车型：</label>
							<div class="control-inline">
                                   <input type="text" class="form-control" id="busTypeCode" name="busTypeCode" >							
                             </div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-sm">查询</button>
							<button type="reset" class="btn btn-default btn-sm">重置</button>
						</div>
			</form>
			<div id="pgtoolbar1">
			   <div id="links" >
			   <a href='#' class='btn' id='newOperation' title="新增"><i class='fa fa-plus' aria-hidden='true'></i> 新增</a>
			   
			   <a href='#' class='btn' id='editOperation' title="修改"><i class='fa fa-pencil-square-o' aria-hidden='true'></i> 修改</a>
			   
			   <a href='#' class='btn' id='deleteOperation'  title="删除"><i class='fa fa-trash' aria-hidden='true'></i> 删除</a>
			   			   			   
			   <a href="#" class="btn" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a> 
			   </div>
			</div>
			<table id="dataGrid"></table>  
			 <div id="dataGridPage">
		</div>
	</div>
</div>
</div>
</div>
<table id="tb_excel" style="display:none"></table>	
<a id="scroll-up" href="#" class="btn btn-sm"><i class="fa fa-angle-double-up"></i></a>
	<script src="${request.contextPath}/statics/js/qms/config/qms_bus_type_list.js?_${.now?long}"></script>
</body>