<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>收货单查询</title>
<#include "/web_header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css">
<script type="text/javascript" src="${request.contextPath}/statics/plugins/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/dynamicColum.js"></script>
</head>
<body>
	<div id="rrapp">
			<div class="main-content">
				<div class="box box-main">
					<div class="box-body">
						<form id="searchForm" method="post" class="form-inline"  action="${request.contextPath}/query/receiptQuery/list" >
						<div class="row">
						    <div class="form-group">
								<label class="control-label" style="width: 70px">收货类型：</label>
								<div class="control-inline">
									<div class="input-group" style="width:90px">
									<select id="receiptType"  name="BUSINESS_NAME" class="input-medium" style="height: 25px;width:100%">
										<option value="">全部</option>
										<option v-for="t in businessList"  :key="t.CODE" :value="t.CODE">
											{{t.BUSINESS_NAME}}
										</option>
									</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" style="width: 45px">工厂：</label>
								<div class="control-inline" style="width: 65px;">
									<select v-model="werks" class=""  style="width:100%;height:25px" name="WERKS" id="werks" >
									   <#list tag.getUserAuthWerks("QUERY_RECEIPT") as factory>
									      <option value="${factory.code}">${factory.code}</option>
									   </#list>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" style="width: 50px;">仓库号：</label>
								<div class="control-inline" style="width: 65px;">
									<select v-model="whNumber" class="form-control" name="WH_NUMBER" id="wh">
										<option v-for="w in wh_list" :value="w.WH_NUMBER" :key="w.ID">{{ w.WH_NUMBER }}</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label">收货单号：</label>
								<div class="control-inline">
									<div class="input-group">
									<input type="text" id="receiptNo" name="RECEIPT_NO" style="width: 80px;" class="form-control" />
									<input type="button"  class="btn btn-default btn-sm" value=".." @click="more($('#receiptNo'))" style="width: 15px;"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">SAP交货单：</label>
								<div class="control-inline">
									<div class="input-group">
									   <input type="text" id="sapOutNo" name="SAP_OUT_NO" style="width: 80px;" class="form-control" />
									   <input type="button"  class="btn btn-default btn-sm" value=".." @click="more($('#sapOutNo'))" style="width: 15px;"/>
									</div>
								</div>
							</div>
							<div class="form-group">
	                           <label class="control-label">SCM送货单：</label>
								<div class="control-inline">
									<div class="input-group" >
									   	<input type="text" id="asnNo" name="ASNNO" style="width: 80px;" class="form-control" />
									   	<input type="button"  class="btn btn-default btn-sm" value=".." @click="more($('#asnNo'))" style="width: 15px;"/>
									</div>
								</div>
							</div>
							<div class="form-group">
	                           <label class="control-label">操作人：</label>
								<div class="control-inline">
									<div class="input-group" >
									   	<input type="text" id="creator" name="CREATOR" style="width: 80px;" class="form-control" />
									</div>
								</div>
							</div>
					</div>
					<div class="row">
					    <div class="form-group">
							<label class="control-label"  style="width: 70px">采购订单：</label>
							<div class="control-inline">
								<div class="input-group" >
								   <input type="text" id="poNo" name="PO_NO" style="width: 90px;" class="form-control" />
								   <input type="button"  class="btn btn-default btn-sm" value=".." @click="more($('#poNo'))" style="width: 15px;"/>
								</div>
							</div>
						</div>
					    <div class="form-group">
							<label class="control-label"  style="width: 38px">料号：</label>
							<div class="control-inline">
								<div class="input-group" >
								<span class="input-icon input-icon-right" style="width: 100px;">
								   <input type="text" id="MATNR" name="MATNR" style="width: 100px;" class="form-control" />
								   	<i class="ace-icon fa fa-barcode black bigger-160 btn_scan" style="cursor: pointer" onclick="doScan('MATNR')"> </i>
								</span>   
								</div>
							</div>
						</div>		
					    <div class="form-group">
							<label class="control-label"  style="width: 50px">供应商：</label>
							<div class="control-inline">
								<div class="input-group" >
								   <input type="text" id="LIFNR" name="LIFNR" style="width: 60px;" class="form-control" />
								</div>
							</div>
						</div>										
					    <div class="form-group">
							<label class="control-label"  style="width: 38px">批次：</label>
							<div class="control-inline">
								<div class="input-group" >
								   <input type="text" id="BATCH" name="BATCH" style="width: 80px;" class="form-control" />
								</div>
							</div>
						</div>							
						<div class="form-group">
									<label class="control-label" style="width: 60px">收货日期：</label>
									<div class="control-inline">
										<div class="input-group" style="width:170px">
										<div class="control-inline">
											<div class="input-group" style="width:80px">
			                                    <input type="text" id="receiptDateStart" name="RECEIPT_START_DATE" v-model="receiptDateStart"
												class="form-control width-300" style="width: 80px;"
												onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(pd){}});" />						    
											 </div>
											<div class="input-group" style="width:80px">
											    <input type="text" id="receiptDateEnd" name="RECEIPT_END_DATE" v-model="receiptDateEnd"
												class="form-control width-300" style="width: 80px;"
												onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(pd){}});" />						
											 </div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="form-group" style="margin-right: 0px;">
								<button type="submit" class="btn btn-primary btn-sm">查询</button>
								<button type="button" class="btn btn-primary btn-sm" @click="exp">导出</button>
								<button type="button" class="btn btn-primary btn-sm" @click="print()">标签</button>
								<button type="button" class="btn btn-primary btn-sm" @click="printA4()">标签A4</button>
								<!-- <button type="reset" class="btn btn-primary btn-sm">重置</button> -->
							</div>
							<div class="form-group" style="margin-right: 0px;">
								<div class="control-inline">
									<div class="input-group" style="width:80px">
									   <select id="example-getting-started" multiple="multiple" style="display: none;">
											<option value="SOBKZ">特殊库存类型</option>
											<option value="ASNNO">SCM送货单号</option>
											<option value="ASNITM">SCM送货单行项目</option>
											<option value="PO_NO">采购订单号</option>
											<option value="PO_ITEM_NO">采购订单行项目</option>
											<option value="SAP_OUT_NO">SAP交货单号</option>
											<option value="SAP_OUT_ITEM_NO">SAP交货单行项目</option>
											<option value="SAP_MATDOC_NO">SAP303凭证号</option>
											<option value="SAP_MATDOC_ITEM_NO">SAP303凭证行项目</option>
										</select> 
									</div>
								</div>
							</div>
						</div>
					</form>
						<div id="divDataGrid" style="width:100%;overflow:auto;">
							<table id="dataGrid"></table>
							<div id="dataGridPage"></div>
						</div>	
						<table id="tb_excel" style="display:none"></table>
					</div>
				</div>
			</div>
	</div>
	<form id="print" target="_blank" method="post" action="${request.contextPath}/docPrint/labelLabelPreview" >
		<button hidden="hidden" id="printButton" type="submit"></button>
		<input name="labelList" id="labelList" type="text" hidden="hidden">
	</form>
	<form id="printA4" target="_blank" method="post" action="${request.contextPath}/docPrint/labelPreview_A4" >
		<button hidden="hidden" id="printButtonA4" type="submit"></button>
		<input name="labelListA4" id="labelListA4" type="text" hidden="hidden">
	</form>
	<script src="${request.contextPath}/statics/js/wms/query/receiptQuery.js?_${.now?long}"></script>
</body>
</html>