<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>云平台送货单条码信息</title>
	<#include "/web_header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div class="main-content">
		<div class="box box-main">
			<div class="box-body">
				<form id="searchForm" method="post" class="form-inline"  action="${request.contextPath}/query/yptquery/yptdeliverbarlist">

					<input type="text" v-model="asnno" id="ASNNO" name="ASNNO" style="width: 100px;display:none;" class="form-control width-300" />
					<div class="form-group">
						<button type="button" class="btn btn-primary btn-sm" @click="barPrint()">条码打印</button>
						<button type="button" class="btn btn-primary btn-sm" @click="printA4()">A4纸打印</button>
					</div>
				</form>
				<table id="dataGrid"></table>
				<div id="dataGridPage"></div>
			</div>
		</div>
	</div>
</div>
<form id="print" target="_blank" method="post" action="${request.contextPath}/docPrint/labelLabelPreview" >
	<button hidden="hidden" id="printButton" type="submit"></button>
	<input name="labelList" id="labelList" type="text" hidden="hidden">
	<input name="WERKS" id="WERKS" type="text" hidden="hidden">
</form>
<form id="printA4" target="_blank" method="post" action="${request.contextPath}/docPrint/labelPreview_A4" >
	<button hidden="hidden" id="printButtonA4" type="submit"></button>
	<input name="labelListA4" id="labelListA4" type="text" hidden="hidden">
	<input name="WERKS" id="WERKSA4" type="text" hidden="hidden">
</form>
<script src="${request.contextPath}/statics/js/wms/query/YPTDeliverBarCodeQuery.js?_${.now?long}"></script>
</body>
</html>
